<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
       http://www.springframework.org/schema/aop 
       http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
       http://www.springframework.org/schema/tx 
       http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context-2.5.xsd
       http://www.springframework.org/schema/mvc 
       http://www.springframework.org/schema/mvc/spring-mvc-3.1.xsd">
	   

     <bean class="org.springframework.web.servlet.mvc.annotation.DefaultAnnotationHandlerMapping"/>  
    <bean class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter"/>   

    <context:component-scan base-package="com.mfino.web"/>
    <context:component-scan base-package="com.mfino.uicore.security"/>
	<context:component-scan base-package="com.mfino.uicore.fix.processor.impl"/>
	<context:component-scan base-package="com.mfino.uicore.web"/>
    <context:component-scan base-package="com.mfino.service"/>
    <context:component-scan base-package="com.mfino.service.impl"/>
    <context:component-scan base-package="com.mfino.transactionapi.service"/>
    <context:component-scan base-package="com.mfino.transactionapi.handlers"/>
    <context:component-scan base-package="com.mfino.commons.hierarchyservice.impl" />
    <context:annotation-config />
    

    <!-- <mvc:interceptors>
 		<ref bean="openSessionInViewInterceptor"/>
	</mvc:interceptors>-->
    
	
    <bean id="contextHolder" class="com.mfino.web.ContextHolder"/>
    
    <bean id="multipartResolver"
        class="org.springframework.web.multipart.commons.CommonsMultipartResolver"/>

    <bean id="customUserService" class="com.mfino.service.CustomUserDetailsService">
    </bean>
    <bean id="passwordEncoder" class="org.springframework.security.authentication.encoding.ShaPasswordEncoder">
        <constructor-arg value="1" />
    </bean>
    <bean id="saltSource" class="org.springframework.security.authentication.dao.ReflectionSaltSource">
        <property name="userPropertyToUse" value="username"/>
    </bean>
     
    <bean id="loginattemptlistener" class="com.mfino.uicore.security.AuthenticationAttemptListener"/>

    <bean id="messageSource" class="org.springframework.context.support.ResourceBundleMessageSource">
        <property name="basename" value="applicationResources"/>
    </bean>
    
    <!-- Config for Open Session for View 
	<bean id="openSessionInViewInterceptor" class="org.springframework.orm.hibernate3.support.OpenSessionInViewInterceptor">
   		<property name="sessionFactory" ref="sessionFactory"/>
		<property name="flushMode" value="1"/>
	</bean>-->
    <!--  Configuring interceptors for Annotation based controllers 

  	 <bean id="annotationMapper" class="org.springframework.web.servlet.mvc.annotation.DefaultAnnotationHandlerMapping">
		<property name="interceptors">
			<list>
			    <ref bean="openSessionInViewInterceptor"/>
			</list>
		</property>
	</bean>
	
	<bean id="txInterceptor" class="org.springframework.transaction.interceptor.TransactionInterceptor">
	  <property name="transactionManager" ref="txManager"/>
	  <property name="transactionAttributeSource">
	    <bean class="org.springframework.transaction.annotation.AnnotationTransactionAttributeSource"/>
	  </property>
	</bean>-->
	

    <!-- ADD PERSISTENCE SUPPORT HERE (jpa, hibernate, etc) -->
	<tx:annotation-driven transaction-manager="txManager" />
	
</beans>
