<?xml version="1.0" encoding="UTF-8"?>
<!--
    Licensed to the Apache Software Foundation (ASF) under one or more
    contributor license agreements.  See the NOTICE file distributed with
    this work for additional information regarding copyright ownership.
    The ASF licenses this file to You under the Apache License, Version 2.0
    (the "License"); you may not use this file except in compliance with
    the License.  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
-->
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:osgi="http://www.springframework.org/schema/osgi"
	xmlns:osgix="http://www.springframework.org/schema/osgi-compendium"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:encryption="http://www.jasypt.org/schema/encryption"
	xsi:schemaLocation="
       http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/osgi
       http://www.springframework.org/schema/osgi/spring-osgi.xsd
       http://www.springframework.org/schema/tx 
       http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
       http://www.springframework.org/schema/osgi-compendium
       http://www.springframework.org/schema/osgi-compendium/spring-osgi-compendium.xsd
       http://www.jasypt.org/schema/encryption
       http://www.jasypt.org/schema/encryption/jasypt-spring3-encryption-1.xsd">

	   <!--
      This bean is used for monitoring of the application 
    -->
	<bean id="springDataSourceBeanPostProcessor" class="net.bull.javamelody.SpringDataSourceBeanPostProcessor">
		<!--
		<property name="excludedDatasources">
			<set>
				<value>excludedDataSourceName</value>
			</set>
		</property>
		-->
 	</bean>
	
	<context:annotation-config/>
	
	<bean id="configSaltgenerator" class="org.jasypt.salt.StringFixedSaltGenerator">
        <constructor-arg value="YJW9qh52RP8gfRDI"/>
    </bean>

	<bean id="config"
		class="org.jasypt.encryption.pbe.config.EnvironmentStringPBEConfig">
		<property name="passwordEnvName">
			<value>ENCRYPTION_KEY</value>
		</property>
		<property name="algorithm">
			<value>PBEWITHMD5ANDTRIPLEDES</value>
		</property>
		<property name="saltGenerator">
    		<ref bean = "configSaltgenerator" />
    	</property>			
	</bean>
	
	<bean id="stringEncryptor" class="org.jasypt.encryption.pbe.StandardPBEStringEncryptor">
		<property name="config">
			<ref bean="config" />
		</property>			
	</bean>	
	
	<!-- get the war specific deployment configuration file path from JNDI in web.xml to be imported--> 
	<bean id="getConfigurationPath"  class="org.springframework.jndi.JndiObjectFactoryBean">  
		<property name="jndiName">  
			<value>java:/comp/env/databaseConfig.Properties</value>  
		</property>  
	</bean>  
	<!-- Import deployment configuration file path from JNDI in context.xml-->
	<bean id="configurationPath"  class="org.springframework.jndi.JndiObjectFactoryBean">  
		<property name="jndiName">  
			<ref bean="getConfigurationPath" /> 
		</property>  
	</bean> 
   
	<bean id="propertyConfigurer"
		class="org.jasypt.spring31.properties.EncryptablePropertyPlaceholderConfigurer">
		<constructor-arg ref="stringEncryptor" />
			<property name="locations"> 
					<ref bean="configurationPath" /> 
			</property> 
	</bean>
	
	<bean id="saletGenerator" class="org.jasypt.salt.StringFixedSaltGenerator">
        <constructor-arg>
           <value>${mfino.saltGenerator.salt}</value>
         </constructor-arg>  
    </bean>
    
	<bean id="hibernateStringEncryptor" class="org.jasypt.hibernate4.encryptor.HibernatePBEStringEncryptor">
		<property name="registeredName">
			<value>hibernateStringEncryptor</value>
		</property>
		<property name="algorithm">
			<value>PBEWITHMD5ANDTRIPLEDES</value>
		</property>
		<property name="password">
			<value>${mfino.hibernateStringEncryptor.password}</value>
		</property>
		<property name="saltGenerator">
        	<ref bean="saletGenerator" />
    	</property>			
	</bean>	
	
	<bean id="hibernateUniqueStringEncryptor" class="org.jasypt.hibernate4.encryptor.HibernatePBEStringEncryptor">
		<property name="registeredName">
			<value>hibernateUniqueStringEncryptor</value>
		</property>
		<property name="algorithm">
			<value>PBEWITHMD5ANDTRIPLEDES</value>
		</property>
		<property name="password">
			<value>${mfino.hibernateUniqueStringEncryptor.password}</value>
		</property>
		<property name="saltGenerator">
        	<ref bean="saletGenerator" />
    	</property>		
	</bean>
	
	<!--  DB connection and persistence layer -->
	<!--  DataSource Definition -->	 
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
		<property name="driverClassName">
			<value>${mfino.dbcp.driverClassName}</value>
		</property>
		<property name="url">
			<value>${mfino.dbcp.url}</value>
		</property>
		<property name="testOnBorrow">
			<value>${mfino.dbcp.testOnBorrow}</value>
		</property>		
		<property name="username">
			<value>${mfino.dbcp.username}</value>
		</property>
		<property name="defaultAutoCommit">
			<value>${mfino.dbcp.defaultAutoCommit}</value>
		</property>
		<property name="password">
			<value>${mfino.dbcp.password}</value>
		</property>
	    <property name="maxActive">
			<value>${mfino.dbcp.maxActive}</value>
		</property>
	    <property name="maxIdle">
			<value>${mfino.dbcp.maxIdle}</value>
		</property>
	    <property name="initialSize">
			<value>${mfino.dbcp.initialSize}</value>
		</property>
	    <property name="validationQuery">
			<value>${mfino.dbcp.validationQuery}</value>
		</property>
		<property name="removeAbandoned">
			<value>${mfino.dbcp.removeAbandoned}</value>
		</property>
		<property name="removeAbandonedTimeout">
			<value>${mfino.dbcp.removeAbandonedTimeout}</value>
		</property>
		<property name="logAbandoned">
			<value>${mfino.dbcp.logAbandoned}</value>
		</property>
	</bean>
	
	<bean id="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean" lazy-init="false">
		 <!-- <property name="mappingLocations">-->
		<property name="packagesToScan" value="com.mfino.domain" />
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">${mfino.hibernate.dialect}</prop>
				<prop key="hibernate.show_sql">${mfino.hibernate.show_sql}</prop>
				<prop key="hibernate.format_sql">${mfino.hibernate.format_sql}</prop>
				<prop key="hibernate.bytecode.use_reflection_optimizer">${mfino.hibernate.bytecode.use_reflection_optimizer}</prop>
				<prop key="hibernate.jdbc.batch_size">${mfino.hibernate.jdbc.batch_size}</prop>
			</props>
		</property>
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
	</bean>
	
	<tx:annotation-driven transaction-manager="txManager" />

	<!-- Hibernate Transaction Manager Definition -->
	<bean id="txManager" class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>

    <bean id="hibernateSessionHolder" class="com.mfino.hibernate.session.HibernateSessionHolder"/>
    	
    <!-- 
    	Expose all the dao as services
     -->
    <bean id="subscriberDAO" class="com.mfino.dao.SubscriberDAO" >
    	<property name="hibernateSessionHolder" ref="hibernateSessionHolder"/>  	
    </bean>
    
    <bean id="subscriberMDNDAO" class="com.mfino.dao.SubscriberMDNDAO" >
    	<property name="hibernateSessionHolder" ref="hibernateSessionHolder"/>  	
    </bean>
	
    <bean id="transactionsLogDAO" class="com.mfino.dao.TransactionsLogDAO" >
    	<property name="hibernateSessionHolder" ref="hibernateSessionHolder"/>
    </bean>
    
    <bean id="activitiesLogDAO" class="com.mfino.dao.ActivitiesLogDAO" >
    	<property name="hibernateSessionHolder" ref="hibernateSessionHolder"/>  	
    </bean>
    
    <bean id="pocketDAO" class="com.mfino.dao.PocketDAO" >
    	<property name="hibernateSessionHolder" ref="hibernateSessionHolder"/>  	
    </bean>
    
    <bean id="notificationDAO" class="com.mfino.dao.NotificationDAO" >
    	<property name="hibernateSessionHolder" ref="hibernateSessionHolder"/>  	
    </bean>
    
    <bean id="mfinoServiceProviderDAO" class="com.mfino.dao.MfinoServiceProviderDAO" >
    	<property name="hibernateSessionHolder" ref="hibernateSessionHolder"/>  	
    </bean>
    
    <bean id="pendingCommodityTransferDAO" class="com.mfino.dao.PendingCommodityTransferDAO" >
    	<property name="hibernateSessionHolder" ref="hibernateSessionHolder"/>  	
    </bean>
    		
    <bean id="systemParameterDao" class="com.mfino.dao.SystemParametersDao" >
    	<property name="hibernateSessionHolder" ref="hibernateSessionHolder"/>  	
    </bean>
    
    <bean id="commodityTransferDao" class="com.mfino.dao.CommodityTransferDAO" >
    	<property name="hibernateSessionHolder" ref="hibernateSessionHolder"/>  	
    </bean>

	<bean id="serviceChargeTransactionLogDAO" class="com.mfino.dao.ServiceChargeTransactionLogDAO"> 
		<property name="hibernateSessionHolder" ref="hibernateSessionHolder"/>
	</bean>   
	
	 <bean id="chargeDefinitionDAO" class="com.mfino.dao.ChargeDefinitionDAO" >
    	<property name="hibernateSessionHolder" ref="hibernateSessionHolder"/>  	
    </bean>
    
    <bean id="hibernateService" class="com.mfino.service.impl.HibernateServiceDefaultImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
		<property name="hibernateSessionHolder" ref="hibernateSessionHolder" />
	</bean>

	<bean id="daoFactory" class="com.mfino.dao.DAOFactory" factory-method="getInstance">
    	<property name="hibernateSessionHolder" ref="hibernateSessionHolder"/>     
    </bean>
    
    <bean id="coreServiceFactory" class="com.mfino.service.CoreServiceFactory" factory-method="getInstance">
    	<property name="hibernateService" ref="hibernateService"/>     
    </bean>
    <bean id="BranchCodeDAO" class="com.mfino.dao.BranchCodeDAO" >
    	<property name="hibernateSessionHolder" ref="hibernateSessionHolder"/>
    </bean>
    
    <bean id="ktpDetailsDAO" class="com.mfino.dao.KtpDetailsDAO" >
    	<property name="hibernateSessionHolder" ref="hibernateSessionHolder"/>
    </bean>
    
    <bean id="provinceDAO" class="com.mfino.dao.ProvinceDAO" >
    	<property name="hibernateSessionHolder" ref="hibernateSessionHolder"/>
    </bean>
    
    <bean id="provinceRegionDAO" class="com.mfino.dao.ProvinceRegionDAO" >
    	<property name="hibernateSessionHolder" ref="hibernateSessionHolder"/>
    </bean>
    
        <bean id="districtDAO" class="com.mfino.dao.DistrictDAO" >
    	<property name="hibernateSessionHolder" ref="hibernateSessionHolder"/>
    </bean>
    
        <bean id="villageDAO" class="com.mfino.dao.VillageDAO" >
    	<property name="hibernateSessionHolder" ref="hibernateSessionHolder"/>
    </bean>
    
    <bean id="productReferralDAO" class="com.mfino.dao.ProductReferralDAO" >
    	<property name="hibernateSessionHolder" ref="hibernateSessionHolder"/>
    </bean>
    
</beans>