<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
       http://www.springframework.org/schema/aop 
       http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
       http://www.springframework.org/schema/tx 
       http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context-2.5.xsd
       http://www.springframework.org/schema/mvc 
       http://www.springframework.org/schema/mvc/spring-mvc-3.1.xsd">
	   

    <bean class="org.springframework.web.servlet.mvc.annotation.DefaultAnnotationHandlerMapping"/>  
    <bean class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter"/> 

 	<context:component-scan base-package="com.mfino.webapi.services" />
 	<context:component-scan base-package="com.mfino.webapi.servlet" />
    <context:component-scan base-package="com.mfino.service.impl" />
    <context:component-scan base-package="com.mfino.transactionapi.service"/>
    <context:component-scan base-package="com.mfino.transactionapi.handlers"/>
    <context:component-scan base-package="com.mfino.service" />
    <context:component-scan base-package="com.mfino.commons.hierarchyservice.impl" />
    

    <context:annotation-config />
     <bean id="contextHolder" class="com.mfino.web.ContextHolder"/>

    <bean id="timeZone" class="java.util.TimeZone" factory-method="getTimeZone">
        <constructor-arg value="GMT" />
    </bean>
<!-- 
	<bean id="serviceFactory" class="com.mfino.webapi.services.ServiceFactory" factory-method="getInstance">
    	<property name="hibernateSessionHolder" ref="hibernateSessionHolder"/>
    	<property name="sessionFactory" ref="sessionFactory"/>     
    </bean> -->

	<tx:annotation-driven transaction-manager="txManager" /> 
	<!-- ADD PERSISTENCE SUPPORT HERE (jpa, hibernate, etc) -->
</beans>