.svn
svn-commit.tmp
/*/output
*.log
*~
*.swp
*.suo
**/bin/*
**/obj/*
**/*.user
Debug
runtime
Release
*.ncb
target
built
build
~*
*.tmp
*.hbm.xml
*.prefs
.project
.classpath
org.eclipse.wst.common.project.facet.core.xml
org.eclipse.wst.common.component
CmFinoFIX.java
mFinoFixml_Generated.xml
GTBank/*
.jsdtscope
org.eclipse.wst.jsdt.ui.superType.container
org.eclipse.wst.jsdt.ui.superType.name
mFinoFIX.js
build_log.txt
