.svn
svn-commit.tmp
/*/output
*.log
*~
*.swp
*.suo
**/bin/*
**/obj/*
**/*.user
Debug
runtime
Release
*.ncb
target
built
build
~*
*.tmp
.classpath
.jsdtscope
.project
GTBank/
build_log.txt
CmFinoFIX.java
MANIFEST.MF
mFinoFIX.js
mFinoFixml_*
.settings
*.hbm.xml
GTBank/
