<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>CreditCardPayment</display-name>
  <context-param>
    <param-name>webAppRootKey</param-name>
    <param-value>mfinospringsecuritywebapp_root</param-value>
  </context-param>
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>
            /WEB-INF/applicationContext.xml
            /WEB-INF/applicationContext-security.xml
        </param-value>
  </context-param>
  <filter>
    <filter-name>acegiAjaxFilter</filter-name>
    <filter-class>com.mfino.web.AcegiAjaxFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>acegiAjaxFilter</filter-name>
    <url-pattern>/j_spring_security_check</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>springSecurityFilterChain</filter-name>
    <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>springSecurityFilterChain</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <welcome-file-list>
    <welcome-file>redirect.jsp</welcome-file>
  </welcome-file-list>
  <listener>
    <listener-class>com.mfino.ccpayment.listeners.MFinoServletContextListener</listener-class>
  </listener>
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <servlet>
    <servlet-name>dispatcher</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>UpdateProfileServlet</servlet-name>
    <servlet-class>com.mfino.ccpayment.servlet.UpdateProfileServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UserInputValidator</servlet-name>
    <servlet-class>com.mfino.ccpayment.servlet.UserInputValidator</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>VerifyTransaction</servlet-name>
    <servlet-class>com.mfino.ccpayment.servlet.VerifyTransaction</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>NotifyServlet</servlet-name>
    <servlet-class>com.mfino.ccpayment.servlet.NotifyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>dispatcher</servlet-name>
    <url-pattern>*.htm</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>dispatcher</servlet-name>
    <url-pattern>*.jsx</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BillingDetailsServlet</servlet-name>
    <servlet-class>com.mfino.ccpayment.servlet.BillingDetailsServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ValidateForgotPassword</servlet-name>
    <servlet-class>com.mfino.ccpayment.servlet.ValidateForgotPassword</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CCPaymentServlet</servlet-name>
    <servlet-class>com.mfino.ccpayment.servlet.CCPaymentServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ForgotPasswordServlet</servlet-name>
    <servlet-class>com.mfino.ccpayment.servlet.ForgotPasswordServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ForgotPasswordUpdationServlet</servlet-name>
    <servlet-class>com.mfino.ccpayment.servlet.ForgotPasswordUpdationServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>NSIACCPaymentServlet</servlet-name>
    <servlet-class>com.mfino.ccpayment.servlet.NSIACCPaymentServlet</servlet-class>
  </servlet>
  <servlet>
    <display-name>ResponseProcessingServlet</display-name>
    <servlet-name>ResponseProcessingServlet</servlet-name>
    <servlet-class>com.mfino.ccpayment.servlet.ResponseProcessingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BillingDetailsServlet</servlet-name>
    <url-pattern>/BillingDetailsServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CCPaymentServlet</servlet-name>
    <url-pattern>/CCPaymentServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ForgotPasswordUpdationServlet</servlet-name>
    <url-pattern>/ForgotPasswordUpdationServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ForgotPasswordServlet</servlet-name>
    <url-pattern>/ForgotPasswordServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ValidateForgotPassword</servlet-name>
    <url-pattern>/ValidateForgotPassword</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>NSIACCPaymentServlet</servlet-name>
    <url-pattern>/NSIACCPaymentServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ResponseProcessingServlet</servlet-name>
    <url-pattern>/ResponseProcessingServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ValidateRegistrationServlet</servlet-name>
    <servlet-class>com.mfino.ccpayment.servlet.ValidateRegistrationServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>NSIANotifyEduServlet</servlet-name>
    <servlet-class>com.mfino.ccpayment.servlet.NSIANotifyEduServlet</servlet-class>
  </servlet>
  <servlet>
    <description>
    	</description>
    <display-name>RegistrationServlet</display-name>
    <servlet-name>RegistrationServlet</servlet-name>
    <servlet-class>com.mfino.ccpayment.servlet.RegistrationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ValidateRegistrationServlet</servlet-name>
    <url-pattern>/ValidateRegistrationServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RegistrationServlet</servlet-name>
    <url-pattern>/RegistrationServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserInputValidator</servlet-name>
    <url-pattern>/UserInputValidator</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateProfileServlet</servlet-name>
    <url-pattern>/UpdateProfileServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>VerifyTransaction</servlet-name>
    <url-pattern>/verify</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>NotifyServlet</servlet-name>
    <url-pattern>/notify</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
  <servlet>
    <description></description>
    <display-name>CancellationServlet</display-name>
    <servlet-name>CancellationServlet</servlet-name>
    <servlet-class>com.mfino.ccpayment.servlet.CancellationServlet</servlet-class>
  </servlet>
  <servlet>
	<description>
 	</description>
  	<display-name>GetDataServlet</display-name>
  	<servlet-name>GetDataServlet</servlet-name>
  	<servlet-class>com.mfino.ccpayment.servlet.GetDataServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CancellationServlet</servlet-name>
    <url-pattern>/cancel</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NSIARedirectionServlet</display-name>
    <servlet-name>NSIARedirectionServlet</servlet-name>
    <servlet-class>com.mfino.ccpayment.servlet.NSIARedirectionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NSIARedirectionServlet</servlet-name>
    <url-pattern>/redirect</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ScrambleCodeValidateServlet</display-name>
    <servlet-name>ScrambleCodeValidateServlet</servlet-name>
    <servlet-class>com.mfino.ccpayment.servlet.ScrambleCodeValidateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ScrambleCodeValidateServlet</servlet-name>
    <url-pattern>/CodeValidation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ForgotPasswordConfirmationCodeServlet</display-name>
    <servlet-name>ForgotPasswordConfirmationCodeServlet</servlet-name>
    <servlet-class>com.mfino.ccpayment.servlet.ForgotPasswordConfirmationCodeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForgotPasswordConfirmationCodeServlet</servlet-name>
    <url-pattern>/ForgotPasswordConfirmationCodeServlet</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>NSIANotifyEduServlet</servlet-name>
    <url-pattern>/notifyEdu</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
 	<servlet-name>GetDataServlet</servlet-name>
 	<url-pattern>/getData</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TimeoutRequests</display-name>
    <servlet-name>TimeoutRequests</servlet-name>
    <servlet-class>com.mfino.ccpayment.servlet.TimeoutRequests</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TimeoutRequests</servlet-name>
    <url-pattern>/timeout</url-pattern>
  </servlet-mapping>

</web-app>