<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:context="http://www.springframework.org/schema/context"

       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context-2.5.xsd">
	
	 <import resource="spring-datasource-beans.xml"/>
     
	 <bean
		class="org.springframework.web.servlet.mvc.annotation.DefaultAnnotationHandlerMapping" />
    <bean
		class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter" />

    <context:component-scan base-package="com.mfino.rtscheduler" />

   <bean id="timeZone" class="java.util.TimeZone" factory-method="getTimeZone">
        <constructor-arg value="GMT" />
    </bean>  
  
    <bean id="dailyReportGenerator" class="com.mfino.rtscheduler.schedule.DailyReportGenerator"> 
    </bean>
    <bean id="dailyReportGeneratorJob" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="dailyReportGenerator" />
        <property name="targetMethod" value="generate" />
        <property name="concurrent" value="false" />
    </bean>
    <bean id="dailyReportGeneratorJobTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">
        <property name="jobDetail" ref="dailyReportGeneratorJob" />
       <property name="timeZone" ref="timeZone" />
        <property name="cronExpression" value="0 0 2 * * ?" />
    </bean>
    
	<!-- All triggers need to be added here to work -->
    <bean class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
        <property name="triggers">
            <list>
              	<ref bean="dailyReportGeneratorJobTrigger"/>  
             	 
            </list>
        </property>
    </bean>
   <!--  <bean id="serviceFactory" class="com.mfino.webapi.services.ServiceFactory" factory-method="getInstance">
    	<property name="hibernateSessionHolder" ref="hibernateSessionHolder"/>
    	<property name="sessionFactory" ref="sessionFactory"/>     
    </bean> -->

	<!-- ADD PERSISTENCE SUPPORT HERE (jpa, hibernate, etc) -->
</beans>