body {
  font-family: arial, sans-serif;
  margin: 0;
  padding: 13px 15px 15px;
}
.footer {
  color: #666;
  font-size: smaller;
  margin-top: 20px;
  text-align: center;
}

.gaia.ops.gsl { font-family: arial, sans-serif; color: #ffcb08; font-weight: bold;}
.gaia.cca.al { font-family: arial, sans-serif; font-size: smaller; font-weight: bold;}
.gaia.cca.cmt { font-family: arial, sans-serif; font-size: smaller; color: #6f6f6f; }
.gaia.cca.red { font-family: arial, sans-serif; font-size: smaller; color: #ff1800; font-weight:bolder }
.gaia.cca.blue { font-family: arial, sans-serif; font-size: smaller; color: #254294; }


#field { margin-left: .5em; float: left; }
#field, label { font-family: Arial, Helvetica, sans-serif; font-size: small; }
br {clear: both; }
input.error { border: 1px solid red; }
label.error {
        background: url('../images/unchecked.gif') no-repeat;
        padding-left: 16px;
        margin-left: .3em;
}
label.valid {
        background: url('../images/checked.gif') no-repeat;
        display: block;
        width: 16px;
        height: 16px;
}
